name: Builder

env:
  BUILD_ARGS: "--test"

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build ${{ matrix.arch }} ${{ matrix.addon }} add-on
    strategy:
      fail-fast: false
      matrix:
        include:
          - addon: solar-control
            arch: amd64
          - addon: solar-control
            arch: aarch64
          - addon: solar-control-dev
            arch: amd64
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v6.0.2

      - name: Get information
        id: info
        uses: home-assistant/actions/helpers/info@master
        with:
          path: "./${{ matrix.addon }}"

      - name: Set build args for push to main
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: echo "BUILD_ARGS=" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        if: env.BUILD_ARGS != '--test'
        uses: docker/login-action@v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build ${{ matrix.addon }} add-on
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            ${{ env.BUILD_ARGS }} \
            --${{ matrix.arch }} \
            --target /data/${{ matrix.addon }} \
            --image "$(echo ${{ steps.info.outputs.image }} | cut -d'/' -f3)" \
            --docker-hub "ghcr.io/${{ github.repository_owner }}" \
            --addon
